## Left Outer Join

In [ ]:
import pandas as pd

left = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Alex", "Amy", "Allen", "Alice", "Ayoung"],
  'subject_id':['sub1','sub2','sub4','sub6','sub5']
})

right = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Billy", "Brian", "Bran", "Bryce", "Betty"],
  'subject_id':['sub2','sub4','sub3','sub6','sub5']
})

print(pd.merge(left, right, on='subject_id', how='left'))

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

## Right Outer Join

In [ ]:
import pandas as pd

left = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Alex", "Amy", "Allen", "Alice", "Ayoung"],
  'subject_id':['sub1','sub2','sub4','sub6','sub5']
})

right = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Billy", "Brian", "Bran", "Bryce", "Betty"],
  'subject_id':['sub2','sub4','sub3','sub6','sub5']
})

print(pd.merge(left, right, on='subject_id', how='right'))

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   NaN     NaN       sub3     3   Bran
3   4.0   Alice       sub6     4  Bryce
4   5.0  Ayoung       sub5     5  Betty

## Outer Join

In [ ]:
import pandas as pd

left = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Alex", "Amy", "Allen", "Alice", "Ayoung"],
  'subject_id':['sub1','sub2','sub4','sub6','sub5']
})

right = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Billy", "Brian", "Bran", "Bryce", "Betty"],
  'subject_id':['sub2','sub4','sub3','sub6','sub5']
})

print(pd.merge(left, right, on='subject_id', how='outer'))

   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   NaN     NaN       sub3   3.0   Bran
3   3.0   Allen       sub4   2.0  Brian
4   5.0  Ayoung       sub5   5.0  Betty
5   4.0   Alice       sub6   4.0  Bryce

## Inner Join

In [2]:
import pandas as pd

left = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Alex", "Amy", "Allen", "Alice", "Ayoung"],
  'subject_id':['sub1','sub2','sub4','sub6','sub5']
})

right = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name':["Billy", "Brian", "Bran", "Bryce", "Betty"],
  'subject_id':['sub2','sub4','sub3','sub6','sub5']
})

print(pd.merge(left, right, on='subject_id', how='inner'))

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

## Melt to transpose

In [5]:
import pandas as pd
df = pd.DataFrame({
  'id':[1,2,3],
  'Age':[13,14,15],
  'Mark':[80,90,85]
})

print("DataFrame is :\n", df,'\n')
print("After melt() operation :\n",df.melt())

DataFrame is :
    id  Age  Mark
0   1   13    80
1   2   14    90
2   3   15    85

After melt() operation :
   variable  value
0       id      1
1       id      2
2       id      3
3      Age     13
4      Age     14
5      Age     15
6     Mark     80
7     Mark     90
8     Mark     85

## Stack and Unstack

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'id':[1,2,3],
  'Age':[13,14,15],
  'Mark':[80,90,85]
})

print("DataFrame is :\n", df)
print("\nAfter stack() operation :\n",df.stack().to_frame())
print("\nAfter unstack() operation :\n",df.unstack().to_frame())

DataFrame is :
    id  Age  Mark
0   1   13    80
1   2   14    90
2   3   15    85

After stack() operation :
          0
0 id     1
  Age   13
  Mark  80
1 id     2
  Age   14
  Mark  90
2 id     3
  Age   15
  Mark  85

After unstack() operation :
          0
id   0   1
     1   2
     2   3
Age  0  13
     1  14
     2  15
Mark 0  80
     1  90
     2  85

After Double stack() operation :
            0
0 id   0   1
  Age  0  13
  Mark 0  80
1 id   0   2
  Age  0  14
  Mark 0  90
2 id   0   3
  Age  0  15
  Mark 0  85

## Pivot

In [10]:
import pandas as pd
df = pd.DataFrame({
  'id':[1,2,3],
  'Age':[13,14,15],
  'Mark':[80,90,85]
})

print("DataFrame is :\n", df)
print("\nAfter pivot() operation (ID) :\n",df.pivot(columns="id"))
print("\nAfter pivot() operation (Age):\n",df.pivot(columns="Age"))

DataFrame is :
    id  Age  Mark
0   1   13    80
1   2   14    90
2   3   15    85

After pivot() operation (ID) :
      Age              Mark
id     1     2     3     1     2     3
0   13.0   NaN   NaN  80.0   NaN   NaN
1    NaN  14.0   NaN   NaN  90.0   NaN
2    NaN   NaN  15.0   NaN   NaN  85.0

After pivot() operation (Age):
       id            Mark
Age   13   14   15    13    14    15
0    1.0  NaN  NaN  80.0   NaN   NaN
1    NaN  2.0  NaN   NaN  90.0   NaN
2    NaN  NaN  3.0   NaN   NaN  85.0

In [12]:
import pandas as pd

d = {
  'Countries':['A','B','C','A','B','C'],
  'Metrics':['population_in_million','population_in_million','population_in_million',
             'gdp_per_capita','gdp_per_capita','gdp_per_capita'],
  'Values':[100.200,120,2000,7000,15000]
}

df = pd.DataFrame(d, columns=['Countries', 'Metrics', 'Values'])
print("df: \n", df)

df2 = df.pivot(index='Countries', columns='Metrics', values='values')
print("df2: \n", df2)

ValueError: All arrays must be of the same length

## Regular Expression

In [22]:
import re
txt = "The rain in Spain"

x = re.search("^The.*Spain$", txt)
if x : print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

```
[] A set of characters "[a-m]"
\  Signals a special sequence "\d"
.  Any character "he..o"
^  Begins with "^hello"
$  Ends with "plane$"
*  zero or more occurences "he.*o"
+  One or more occurences "he.+o"
?  Zero or more occurences "he.?
{} Exactly the specified number of occurences "he.{2}o"
|  Either or
() Capture and group
```