In [2]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,"\n")
print(df.melt())

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

  variable  value
0       Id      1
1       Id      2
2       Id      3
3      Age     13
4      Age     14
5      Age     13
6     Mark     80
7     Mark     90
8     Mark     85

In [ ]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,'\n')
print(df.stack().to_frame(),'\n')
print(df.stack(),'\n')

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

         0
0 Id     1
  Age   13
  Mark  80
1 Id     2
  Age   14
  Mark  90
2 Id     3
  Age   13
  Mark  85

0  Id       1
   Age     13
   Mark    80
1  Id       2
   Age     14
   Mark    90
2  Id       3
   Age     13
   Mark    85
dtype: int64

In [3]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,'\n')

print(df.unstack().to_frame(),'\n')
print(df.unstack(),'\n')

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

         0
Id   0   1
     1   2
     2   3
Age  0  13
     1  14
     2  13
Mark 0  80
     1  90
     2  85

Id    0     1
      1     2
      2     3
Age   0    13
      1    14
      2    13
Mark  0    80
      1    90
      2    85
dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'id':[1,2,3],
  'Age':[13,14,15],
  'Mark':[80,90,85]
})

print("DataFrame is :\n", df)
print("\nAfter pivot() operation (ID) :\n",df.pivot(columns="id"))
print("\nAfter pivot() operation (Age):\n",df.pivot(columns="Age"))
print("\nAfter pivot() operation (Mark):\n",df.pivot(columns="Mark"))

DataFrame is :
    id  Age  Mark
0   1   13    80
1   2   14    90
2   3   15    85

After pivot() operation (ID) :
      Age              Mark
id     1     2     3     1     2     3
0   13.0   NaN   NaN  80.0   NaN   NaN
1    NaN  14.0   NaN   NaN  90.0   NaN
2    NaN   NaN  15.0   NaN   NaN  85.0

After pivot() operation (Age):
       id            Mark
Age   13   14   15    13    14    15
0    1.0  NaN  NaN  80.0   NaN   NaN
1    NaN  2.0  NaN   NaN  90.0   NaN
2    NaN  NaN  3.0   NaN   NaN  85.0

After pivot() operation (Mark):
        id             Age
Mark   80   85   90    80    85    90
0     1.0  NaN  NaN  13.0   NaN   NaN
1     NaN  NaN  2.0   NaN   NaN  14.0
2     NaN  3.0  NaN   NaN  15.0   NaN

In [17]:
import pandas as pd

d = {
  'Countries':['Ark','Bora','Cakon','Ark','Bora','Cakon'],
  'Metrics':['Population in Million','Population in Million','Population in Million', 
             'GDP per Capita',       'GDP per Capita',       'GDP per Capita'],
  'Values':[100,200,120,2000,7000,15000]
}

df = pd.DataFrame(d)
print("df: \n", df,'\n')

df2 = df.pivot(index='Countries', columns='Metrics', values='Values')
print("df2: \n", df2, '\n')

df:
   Countries                Metrics  Values
0       Ark  Population in Million     100
1      Bora  Population in Million     200
2     Cakon  Population in Million     120
3       Ark         GDP per Capita    2000
4      Bora         GDP per Capita    7000
5     Cakon         GDP per Capita   15000

df2:
 Metrics    GDP per Capita  Population in Million
Countries
Ark                  2000                    100
Bora                 7000                    200
Cakon               15000                    120

In [3]:
# importing pandas as pd for using data frame
import pandas as pd
# creating dataframe with student details
dataframe = pd.DataFrame({'id': [7058, 4511, 7014, 7033],
                          'name': ['sravan', 'manoj', 'aditya', 'bhanu'],
                          'Maths_marks': [99, 97, 88, 90],
                          'Chemistry_marks': [89, 99, 99, 90],
                          'telugu_marks': [99, 97, 88, 80],
                          'hindi_marks': [99, 97, 56, 67],
                          'social_marks': [79, 97, 78, 90], })
print(dataframe)
# describing the data frame
print(dataframe.describe())
print("-----------------------------")
# finding unique values
print(dataframe['Maths_marks'].unique())
print("-----------------------------")
# counting unique values
print(dataframe['Maths_marks'].nunique())
print("-----------------------------")
# display the columns in the data frame
print(dataframe.columns)
print("-----------------------------")
# information about dataframe
print(dataframe.info())

     id    name  Maths_marks  Chemistry_marks  telugu_marks  hindi_marks  \
0  7058  sravan           99               89            99           99
1  4511   manoj           97               99            97           97
2  7014  aditya           88               99            88           56
3  7033   bhanu           90               90            80           67

   social_marks
0            79
1            97
2            78
3            90
                id  Maths_marks  Chemistry_marks  telugu_marks  hindi_marks  \
count     4.000000     4.000000             4.00       4.00000     4.000000
mean   6404.000000    93.500000            94.25      91.00000    79.750000
std    1262.128625     5.322906             5.50       8.75595    21.561926
min    4511.000000    88.000000            89.00      80.00000    56.000000
25%    6388.250000    89.500000            89.75      86.00000    64.250000
50%    7023.500000    93.500000            94.50      92.50000    82.000000
75%    7039.250000    97.500000            99.00      97.50000    97.500000
max    7058.000000    99.000000            99.00      99.00000    99.000000

       social_marks
count      4.000000
mean      86.000000
std        9.128709
min       78.000000
25%       78.750000
50%       84.500000
75%       91.750000
max       97.000000
-----------------------------
[99 97 88 90]
-----------------------------
4
-----------------------------
Index(['id', 'name', 'Maths_marks', 'Chemistry_marks', 'telugu_marks',
       'hindi_marks', 'social_marks'],
      dtype='object')
-----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               4 non-null      int64
 1   name             4 non-null      object
 2   Maths_marks      4 non-null      int64
 3   Chemistry_marks  4 non-null      int64
 4   telugu_marks     4 non-null      int64
 5   hindi_marks      4 non-null      int64
 6   social_marks     4 non-null      int64
dtypes: int64(6), object(1)
memory usage: 356.0+ bytes
None

In [4]:
# importing pandas as pd for using data frame
import pandas as pd
# creating dataframe with student details
dataframe = pd.DataFrame({'id': [7058, 4511, 7014, 7033],
                          'name': ['sravan', 'manoj', 'aditya', 'bhanu'],
                          'Maths_marks': [99, 97, 88, 90],
                          'Chemistry_marks': [89, 99, 99, 90],
                          'telugu_marks': [99, 97, 88, 80],
                          'hindi_marks': [99, 97, 56, 67],
                          'social_marks': [79, 97, 78, 90], })
# getting all minimum values from all columns in a dataframe
print(dataframe.min())
print("-----------------------------------------")
  # minimum value from a particular column in a data frame
print(dataframe['Maths_marks'].min())
print("-----------------------------------------")
  # computing maximum values
print(dataframe.max())
print("-----------------------------------------")
  # computing sum
print(dataframe.sum())
print("-----------------------------------------")
# finding count
print(dataframe.count())
print("-----------------------------------------")  
# computing standard deviation
print(dataframe.std())
print("-----------------------------------------")  
# computing variance
print(dataframe.var())

id                   4511
name               aditya
Maths_marks            88
Chemistry_marks        89
telugu_marks           80
hindi_marks            56
social_marks           78
dtype: object
-----------------------------------------
88
-----------------------------------------
id                   7058
name               sravan
Maths_marks            99
Chemistry_marks        99
telugu_marks           99
hindi_marks            99
social_marks           97
dtype: object
-----------------------------------------
id                                  25616
name               sravanmanojadityabhanu
Maths_marks                           374
Chemistry_marks                       377
telugu_marks                          364
hindi_marks                           319
social_marks                          344
dtype: object
-----------------------------------------
id                 4
name               4
Maths_marks        4
Chemistry_marks    4
telugu_marks       4
hindi_marks        4
social_marks       4
dtype: int64
-----------------------------------------

TypeError: could not convert string to float: 'sravan'

In [10]:
#import the pandas library
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)
# print(df.groupby('Team').groups)
# print(df.groupby(['Team', 'Year']).groups)
grouped = df.groupby('Year')
print(grouped.get_group(2014))

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [20]:
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
grouped = df.groupby('Year')
print(grouped['Points'].agg([np.sum, np.mean, np.std]))

       sum    mean        std
Year
2014  3181  795.25  87.439026
2015  3078  769.50  65.035888
2016  1450  725.00  43.840620
2017  1478  739.00  69.296465

C:\Users\Aniruddha\AppData\Local\Temp\ipykernel_9532\448949868.py:10: FutureWarning: The provided callable <function sum at 0x0000015002E1CEA0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(grouped['Points'].agg([np.sum, np.mean, np.std]))
C:\Users\Aniruddha\AppData\Local\Temp\ipykernel_9532\448949868.py:10: FutureWarning: The provided callable <function mean at 0x0000015002E1E2A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(grouped['Points'].agg([np.sum, np.mean, np.std]))
C:\Users\Aniruddha\AppData\Local\Temp\ipykernel_9532\448949868.py:10: FutureWarning: The provided callable <function std at 0x0000015002E1E3E0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  print(grouped['Points'].agg([np.sum, np.mean, np.std]))

In [23]:
# import the pandas library
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
grouped = df.groupby('Team')
print(grouped.groups)
score = lambda x: (x - x.mean()) / x.std()*10
print(grouped.transform(score))

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}
         Rank       Year     Points
0  -15.000000 -11.618950  12.843272
1    5.000000  -3.872983   3.020286
2   -7.071068  -7.071068   7.071068
3    7.071068   7.071068  -7.071068
4   11.547005 -10.910895  -8.608621
5         NaN        NaN        NaN
6   -5.773503   2.182179  -2.360428
7   -5.773503   8.728716  10.969049
8    5.000000   3.872983  -7.705963
9    7.071068  -7.071068  -7.071068
10  -7.071068   7.071068   7.071068
11   5.000000  11.618950  -8.157595

In [32]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'site' : ['walmart', 'amazon', 'alibaba', 'flipkart','alibaba','flipkart','walmart', 'amazon', 'alibaba', 'flipkart'],
                   'Product_Category' : ['Kitchen', 'Home-Decor', 'Gardening', 'Health', 'Beauty', 'Garments',
                                         'Gardening', 'Health', 'Beauty', 'Garments'] ,
                   'Product' : ['Oven','Sofa-set','digging spade','fitness band','sunscreen','pyjamas','digging spade',
                               'fitness band','sunscreen','pyjamas'],
                   'Sales' : [2000,3000,4000,5000,6000,9000,3000,2500,1020,950]})
print(df)
print(df.pivot_table( index=['Product_Category', 'Product'], values=['Sales'], columns=['site']))
print(df.pivot_table( index=['Product_Category', 'Product'], values=['Sales'], columns=['site'], aggfunc=[min,sum]))
print(pd.crosstab([df.Product_Category,df.Product],df.site))

       site Product_Category        Product  Sales
0   walmart          Kitchen           Oven   2000
1    amazon       Home-Decor       Sofa-set   3000
2   alibaba        Gardening  digging spade   4000
3  flipkart           Health   fitness band   5000
4   alibaba           Beauty      sunscreen   6000
5  flipkart         Garments        pyjamas   9000
6   walmart        Gardening  digging spade   3000
7    amazon           Health   fitness band   2500
8   alibaba           Beauty      sunscreen   1020
9  flipkart         Garments        pyjamas    950
                                 Sales
site                           alibaba  amazon flipkart walmart
Product_Category Product
Beauty           sunscreen      3510.0     NaN      NaN     NaN
Gardening        digging spade  4000.0     NaN      NaN  3000.0
Garments         pyjamas           NaN     NaN   4975.0     NaN
Health           fitness band      NaN  2500.0   5000.0     NaN
Home-Decor       Sofa-set          NaN  3000.0      NaN     NaN
Kitchen          Oven              NaN     NaN      NaN  2000.0
                                   min                              sum  \
                                 Sales                            Sales
site                           alibaba  amazon flipkart walmart alibaba
Product_Category Product
Beauty           sunscreen      1020.0     NaN      NaN     NaN  7020.0
Gardening        digging spade  4000.0     NaN      NaN  3000.0  4000.0
Garments         pyjamas           NaN     NaN    950.0     NaN     NaN
Health           fitness band      NaN  2500.0   5000.0     NaN     NaN
Home-Decor       Sofa-set          NaN  3000.0      NaN     NaN     NaN
Kitchen          Oven              NaN     NaN      NaN  2000.0     NaN



site                            amazon flipkart walmart
Product_Category Product
Beauty           sunscreen         NaN      NaN     NaN
Gardening        digging spade     NaN      NaN  3000.0
Garments         pyjamas           NaN   9950.0     NaN
Health           fitness band   2500.0   5000.0     NaN
Home-Decor       Sofa-set       3000.0      NaN     NaN
Kitchen          Oven              NaN      NaN  2000.0
site                            alibaba  amazon  flipkart  walmart
Product_Category Product
Beauty           sunscreen            2       0         0        0
Gardening        digging spade        1       0         0        1
Garments         pyjamas              0       0         2        0
Health           fitness band         0       1         1        0
Home-Decor       Sofa-set             0       1         0        0
Kitchen          Oven                 0       0         0        1

C:\Users\Aniruddha\AppData\Local\Temp\ipykernel_9532\3766719722.py:11: FutureWarning: The provided callable <built-in function min> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print(df.pivot_table( index=['Product_Category', 'Product'], values=['Sales'], columns=['site'], aggfunc=[min,sum]))
C:\Users\Aniruddha\AppData\Local\Temp\ipykernel_9532\3766719722.py:11: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(df.pivot_table( index=['Product_Category', 'Product'], values=['Sales'], columns=['site'], aggfunc=[min,sum]))