In [2]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,"\n")
print(df.melt())

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

  variable  value
0       Id      1
1       Id      2
2       Id      3
3      Age     13
4      Age     14
5      Age     13
6     Mark     80
7     Mark     90
8     Mark     85

In [ ]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,'\n')
print(df.stack().to_frame(),'\n')
print(df.stack(),'\n')

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

         0
0 Id     1
  Age   13
  Mark  80
1 Id     2
  Age   14
  Mark  90
2 Id     3
  Age   13
  Mark  85

0  Id       1
   Age     13
   Mark    80
1  Id       2
   Age     14
   Mark    90
2  Id       3
   Age     13
   Mark    85
dtype: int64

In [3]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3],'Age':[13,14,13],'Mark':[80,90,85]})
print("Dataframe is:\n",df,'\n')

print(df.unstack().to_frame(),'\n')
print(df.unstack(),'\n')

Dataframe is:
    Id  Age  Mark
0   1   13    80
1   2   14    90
2   3   13    85

         0
Id   0   1
     1   2
     2   3
Age  0  13
     1  14
     2  13
Mark 0  80
     1  90
     2  85

Id    0     1
      1     2
      2     3
Age   0    13
      1    14
      2    13
Mark  0    80
      1    90
      2    85
dtype: int64

In [11]:
import pandas as pd
df = pd.DataFrame({
  'id':[1,2,3],
  'Age':[13,14,15],
  'Mark':[80,90,85]
})

print("DataFrame is :\n", df)
print("\nAfter pivot() operation (ID) :\n",df.pivot(columns="id"))
print("\nAfter pivot() operation (Age):\n",df.pivot(columns="Age"))
print("\nAfter pivot() operation (Mark):\n",df.pivot(columns="Mark"))

DataFrame is :
    id  Age  Mark
0   1   13    80
1   2   14    90
2   3   15    85

After pivot() operation (ID) :
      Age              Mark
id     1     2     3     1     2     3
0   13.0   NaN   NaN  80.0   NaN   NaN
1    NaN  14.0   NaN   NaN  90.0   NaN
2    NaN   NaN  15.0   NaN   NaN  85.0

After pivot() operation (Age):
       id            Mark
Age   13   14   15    13    14    15
0    1.0  NaN  NaN  80.0   NaN   NaN
1    NaN  2.0  NaN   NaN  90.0   NaN
2    NaN  NaN  3.0   NaN   NaN  85.0

After pivot() operation (Mark):
        id             Age
Mark   80   85   90    80    85    90
0     1.0  NaN  NaN  13.0   NaN   NaN
1     NaN  NaN  2.0   NaN   NaN  14.0
2     NaN  3.0  NaN   NaN  15.0   NaN

In [17]:
import pandas as pd

d = {
  'Countries':['Ark','Bora','Cakon','Ark','Bora','Cakon'],
  'Metrics':['Population in Million','Population in Million','Population in Million', 
             'GDP per Capita',       'GDP per Capita',       'GDP per Capita'],
  'Values':[100,200,120,2000,7000,15000]
}

df = pd.DataFrame(d)
print("df: \n", df,'\n')

df2 = df.pivot(index='Countries', columns='Metrics', values='Values')
print("df2: \n", df2, '\n')

df:
   Countries                Metrics  Values
0       Ark  Population in Million     100
1      Bora  Population in Million     200
2     Cakon  Population in Million     120
3       Ark         GDP per Capita    2000
4      Bora         GDP per Capita    7000
5     Cakon         GDP per Capita   15000

df2:
 Metrics    GDP per Capita  Population in Million
Countries
Ark                  2000                    100
Bora                 7000                    200
Cakon               15000                    120